.loginWrapper {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;

    
    height:max-content;
    width: 25vw;
    height: 100vh;
    padding-top: 10px;
    padding-bottom: 10px;
    border-style: solid;
    border-color: black;
    border-left: 100px;
    border-top: none;
    border-bottom: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
}

.panel {
    background-color: #007bff;
    width: 75vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.formPanel{
    margin-top: 10px;
    margin-bottom: 15px;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#root {
    height: 100%;
}

.loginPage {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

.niloName {
    font-size:10rem;
    color: white;
}

.crendentials{
    color:white;
    font-size:1rem;

}

.togglePanel{
    margin-top: 20px;
    margin-bottom: 25px;   
}

.buttonLogin{
    background-color: #4aa3ff;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    width: 30%;
    height: 30px;
}

.buttonLogin:hover {
    background-color: #007bff;
}

.logoImage{
    width:100px;
    height:100px;
    margin-bottom: 50px;
}
